@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-VariableFont.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "David Libre", serif;
  font-weight: 700;
}

p, a, li, span, nav, div, button, footer {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.header__background {
  background-color: #F8F0E5;
}

nav div a h1 {
  color: #0F2C59;
  font-weight: 700;
}

.logo {
  width: 40px;
}

svg {
  width: 270px;
  padding: 60px 0 30px 0;
  background-color: #F8F0E5;
}

.hero__content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px 50px 20px;
  background-color: #F8F0E5;
  gap: 30px;
}
.hero__content-container .hero__content-h2 h2 {
  color: #0F2C59;
  font-weight: bold;
  font-size: 30px;
}
.hero__content-container .hero__content-h2 h4 {
  color: #0F2C59;
}
.hero__content-container .hero__content-h2 p {
  color: #5C6574;
}
.hero__content-container .hero__content-h2 div {
  padding-bottom: 10px;
}
.hero__content-container .hero__content-h2 div p {
  color: #5C6574;
  font-size: 13px;
  color: #F8F0E5;
  background-color: #0F2C59;
  border-radius: 20px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  transform: skew(4deg);
  opacity: 0.6;
}
.hero__content-container .hero__content-h2 .hero__content-botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 1024px) {
  .logo {
    width: 60px;
    margin-right: 25px;
  }
  .hero__content-container {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 100px;
    height: 700px;
    width: 100%;
  }
  .hero__content-container .hero__content-h2 {
    width: 400px;
  }
  .hero__content-container .hero__content-h2 h2 {
    font-size: 70px;
  }
  .hero__content-container .hero__content-h2 h4 {
    font-size: 40px;
  }
  .hero__content-container .hero__content-h2 p {
    font-size: 20px;
  }
  .hero__content-container .hero__content-h2 div p {
    font-size: 15px;
    color: #F8F0E5;
    background-color: #0F2C59;
    border-radius: 20px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    transform: skew(7deg);
    opacity: 0.6;
  }
  .hero__content-container #hero__container-buttons-secondary {
    font-size: 20px;
  }
  .hero__content-container #hero__container-buttons-primary {
    font-size: 20px;
  }
  svg {
    width: 400px;
  }
}
#hero__container-buttons-primary {
  background-color: #0F2C59;
  color: #F8F0E5;
  border: #0F2C59;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  margin: 20px 0 0 0;
}
#hero__container-buttons-primary:hover {
  transform: scale(1.1);
}

#hero__container-buttons-secondary {
  color: #F8F0E5;
  border: #0F2C59;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  margin: 20px 0 0 0;
}
#hero__container-buttons-secondary:hover {
  transform: scale(1.1);
}

#footer-button {
  background-color: #0F2C59;
  color: #F8F0E5;
  border: #0F2C59;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}
#footer-button:hover {
  transform: scale(1.1);
}

.about__container .about__container-nice {
  text-align: center;
  background-color: #EADBC8;
  color: #0F2C59;
  padding: 5px 0 5px;
}
.about__container .about__container-nice p {
  margin-bottom: 0;
}
.about__container .about__container-nice h2 {
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
}
.about__container .about__container-izquierda {
  background-color: #F8F0E5;
  padding: 40px 20px 20px 20px;
}
.about__container .about__container-izquierda h3 {
  color: #0F2C59;
  font-weight: bold;
  font-size: 30px;
}
.about__container .about__container-derecha {
  background-color: #EADBC8;
  padding: 30px 20px 30px 20px;
}
.about__container .about__container-derecha h3 {
  color: #0F2C59;
  font-weight: bold;
  font-size: 30px;
}

@media (min-width: 1024px) {
  .about__container {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    width: 100%;
  }
  .about__container .about__container-nice h2 {
    padding: 10px;
    font-size: 45px;
  }
  .about__container .about__container-izquierda {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 70px 0 70px;
  }
  .about__container .about__container-izquierda div {
    width: 450px;
  }
  .about__container .about__container-izquierda div h3 {
    font-size: 40px;
  }
  .about__container .about__container-derecha {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    padding: 70px 0 70px;
  }
  .about__container .about__container-derecha div {
    width: 450px;
  }
  .about__container .about__container-derecha div h3 {
    font-size: 40px;
  }
}
.card-header {
  color: #0F2C59;
}

.logo-footer {
  width: 40px;
}

.card-body h5 {
  color: #0F2C59;
  font-weight: bold;
  padding: 10px 0 10px;
}

.card-body p {
  color: #5C6574;
  font-size: 15px;
}

@media (min-width: 1024px) {
  .logo-footer {
    width: 60px;
  }
  .card-body h5 {
    font-size: 25px;
  }
  #footer-button {
    font-size: 18px;
  }
  .card-body p {
    font-size: 17px;
  }
}
.products-container {
  display: grid;
  grid-template-areas: "card__1" "card__2" "card__3" "card__4" "card__5" "card__6" "card__7" "card__8" "card__9" "card__10" "card__11" "card__12" "card__13" "card__14" "card__15" "card__16" "card__17" "card__18" "card__19";
  grid-template-columns: auto;
  grid-template-rows: repeat(19, auto);
  justify-content: center;
  row-gap: 30px;
  background-color: #EADBC8;
  padding: 40px 0 40px;
}

.card-body {
  background-color: rgba(15, 45, 89, 0.5764705882);
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}
.card-body p {
  color: #F8F0E5;
}
.card-body a {
  background-color: #0F2C59;
  border: #0F2C59;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.card__1 {
  grid-area: card__1;
}

.card__2 {
  grid-area: card__2;
}

.card__3 {
  grid-area: card__3;
}

@media (min-width: 1024px) {
  .products-container {
    padding: 80px 0 80px;
    row-gap: 90px;
    grid-template-areas: "card__1 card__2 card__3 card__4" "card__5 card__6 card__7 card__8" "card__9 card__10 card__11 card__12" "card__13 card__14 card__15 card__16" "card__17 card__18 card__19 .";
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: space-evenly;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .products-container {
    grid-template-areas: "card__1 card__2" "card__3 card__4" "card__5 card__6" "card__7 card__8" "card__9 card__10" "card__11 card__12";
    grid-template-columns: auto auto;
    grid-template-rows: repeat(6, auto);
    justify-content: space-evenly;
    row-gap: 50px;
    padding: 60px 0 60px;
  }
}
main {
  background-color: #F8F0E5;
}

.hero2 .hero2__img {
  width: 100%;
}
.hero2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero2 div h2 {
  color: #5C6574;
  font-weight: bold;
  font-size: 25px;
}
.hero2 div h3 {
  font-size: 35px;
  font-weight: bold;
  color: #0F2C59;
}
.hero2 div h4 {
  font-size: 30px;
  font-weight: bold;
  color: #0F2C59;
}
.hero2 div span {
  color: #5C6574;
  padding: 10px 0 10px 0;
}

.contact__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-top: 70px;
}
.contact__info .contact__img {
  width: 40px;
}
.contact__info .item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 30px;
  gap: 10px;
}
.contact__info .item:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.contact__info .item a {
  text-decoration: none;
}
.contact__info .item h3 {
  color: #0F2C59;
  font-weight: bold;
}
.contact__info .item p {
  color: #5C6574;
}

@media (min-width: 1024px) {
  .hero2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
  }
  .hero2 .hero2__img {
    width: 700px;
  }
  .hero2 .hero2__content h2 {
    font-size: 40px;
  }
  .hero2 .hero2__content h3 {
    font-size: 50px;
  }
  .hero2 .hero2__content h4 {
    font-size: 45px;
  }
  .contact__info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 70px 0 90px;
  }
  .contact__info .contact__img {
    width: 45px;
  }
  .contact__info .item h3 {
    font-size: 25px;
  }
  .contact__info .item p {
    font-size: 20px;
  }
  .map {
    padding-top: 100px;
  }
}
@media (min-width: 788px) and (max-width: 990px) {
  .hero2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero2 .hero2__img {
    width: 500px;
  }
  .contact__info {
    margin: 50px 0 50px;
    display: grid;
    grid-template-areas: "item-1 item-2" "item-3 item-4";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
  }
  .contact__info .item-1 {
    grid-area: item-1;
  }
  .contact__info .item-2 {
    grid-area: item-2;
  }
  .contact__info .item-3 {
    grid-area: item-3;
  }
  .contact__info .item-4 {
    grid-area: item-4;
  }
}
.hero2__content-container {
  padding: 30px 10px;
}
.hero2__content-container .hero2__img {
  width: 450px;
  position: absolute;
  top: 350px;
  left: 75px;
}
.hero2__content-container .hero2__content {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
  gap: 30px;
  border: 2px solid #0F2C59;
  border-radius: 30px;
  padding: 20px 20px 10px 20px;
}
.hero2__content-container .hero2__content h2 {
  font-size: 40px;
  font-weight: bold;
  color: #0F2C59;
}
.hero2__content-container .hero2__content h4 {
  color: #0F2C59;
  font-size: 25px;
}
.hero2__content-container .hero2__content .span {
  padding: 10px 0 10px;
  color: #5C6574;
  font-size: 16px;
  width: 200px;
}
.hero2__content-container .hero2__content span h3 {
  font-size: 35px;
  color: #0F2C59;
  margin-bottom: 0;
}
.hero2__content-container .hero2__content span p {
  color: #0F2C59;
  font-size: 22px;
  margin: 0 0 0 0;
}
.hero2__content-container .hero2__content-1 p {
  color: #5C6574;
  font-size: 16px;
  padding-left: 20px;
}
.hero2__content-container .hero2__content-2 {
  padding: 0 0 60px 20px;
}
.hero2__content-container .hero2__content-2 p {
  color: #5C6574;
  font-size: 16px;
}
.hero2__content-container .span {
  padding: 20px 0 0 0;
  color: #5C6574;
  font-size: 16px;
  width: 170px;
  text-align: left;
  padding-left: 20px;
}

@media (min-width: 1024px) {
  .hero2__content-container {
    padding: 50px 300px;
  }
  .hero2__content-container .hero2__img {
    width: 1100px;
    top: 180px;
    left: 780px;
  }
  .hero2__content-container .hero2__content {
    gap: 50px;
    border: 2px solid #0F2C59;
    border-radius: 60px;
    padding: 60px 60px 20px 40px;
  }
  .hero2__content-container .hero2__content h2 {
    font-size: 70px;
  }
  .hero2__content-container .hero2__content h4 {
    font-size: 40px;
  }
  .hero2__content-container .hero2__content .span {
    padding: 20px 0 10px;
    font-size: 20px;
    width: 400px;
  }
  .hero2__content-container .hero2__content span h3 {
    font-size: 50px;
  }
  .hero2__content-container .hero2__content span p {
    font-size: 32px;
  }
  .hero2__content-container .span {
    padding: 40px 0 0 40px;
    font-size: 20px;
    width: 400px;
  }
  .hero2__content-container .hero2__content-1 {
    padding-left: 20px;
    width: 750px;
  }
  .hero2__content-container .hero2__content-1 p {
    font-size: 20px;
  }
  .hero2__content-container .hero2__content-2 {
    padding-left: 40px;
  }
  .hero2__content-container .hero2__content-2 p {
    font-size: 20px;
  }
  .hero2__content-container .hero2__content-2 #hero__container-buttons-primary {
    font-size: 23px;
  }
}
@media (min-width: 788px) and (max-width: 990px) {
  .hero2__content-container .hero2__img {
    width: 850px;
    top: 280px;
    left: 100px;
  }
  .hero2__content-container .hero2__content .span {
    font-size: 18px;
  }
  .hero2__content-container .hero2__content h2 {
    font-size: 50px;
  }
  .hero2__content-container .hero2__content h4 {
    font-size: 30px;
  }
  .hero2__content-container .hero2__content span h3 {
    font-size: 40px;
  }
  .hero2__content-container .hero2__content span p {
    font-size: 28px;
  }
  .hero2__content-container .span {
    font-size: 18px;
  }
  .hero2__content-container .hero2__content-1 p {
    font-size: 18px;
  }
  .hero2__content-container .hero2__content-2 p {
    font-size: 18px;
  }
  .hero2__content-container #hero__container-buttons-primary {
    font-size: 23px;
  }
}

/*# sourceMappingURL=styles.css.map */
