.card-header{
    color: #0F2C59;
}

.logo-footer{
	width: 40px;
}

.card-body{
    h5{
	color: #0F2C59;
	font-weight: bold;
	padding: 10px 0 10px;
    }
}

.card-body{ 
    p{
	color: #5C6574;
	font-size: 15px;
    }
}