.card{
    .card-body{
		background-color: $card-color;
		.logo-footer{
			width: 40px;
		}
		h5{
		    color: $secondary-color;
		    font-weight: bold;
		    padding: 10px 0 10px;
		}
		p{
			color: $primary-color;
			font-size: 15px;
		}
	}
}

@include desktop{
	.card{
		.card-body{
			.logo-footer{
				width: 60px;
			}
			h5{
				font-size: 25px;
			}
			p{
				font-size: 20px;
			}
			a{
				font-size: 18px;
			}
		}
	}
}
