.card-header{
    color: $secondary-color;
}

.logo-footer{
	width: 40px;
}

.card-body{
    h5{
	color: $secondary-color;
	font-weight: bold;
	padding: 10px 0 10px;
    }
}

.card-body{ 
    p{
	color: $extra-color;
	font-size: 15px;
    }
}

@include desktop{
	.logo-footer{
		width: 60px;
	}

	.card-body h5{
		font-size: 25px;
	}
	
	#footer-button{  
		font-size: 18px;
	}
	
	.card-body p{
		font-size: 17px;
	}
}
