.header {
    position: sticky;
    top: 0;
    z-index: 50;
    .header__background{
	    background-color: $primary-color;
    }
    nav{
        div{
                h1{
                    color: $secondary-color;
                    font-weight: bold;
                }
            }
        }
    }
    .logo{
        width: 45px;
    }

    @include desktop{
        .header{
            nav{
                div{
                    h1{
                        font-size: 40px;
                    }
                }
            }
        }
    }