#hero__container-buttons-primary{
	background-color:$secondary-color;
	color:$primary-color;
	border:$secondary-color;
	box-shadow: $box-shadow;
	font-size: 17px;
	margin: 20px 0 0 0;
    &:hover{
        transform: scale(1.1);
    }
}

#hero__container-buttons-secondary{
	color: $primary-color;
	border:$secondary-color;
	box-shadow: $box-shadow;
	font-size: 17px;
	margin: 20px 0 0 0;
    &:hover{
        transform: scale(1.1);
    }
}

.card{  
	.card-body{
		a{
            background-color: $secondary-color;
	        color: $primary-color;
	        border: $secondary-color;
	        box-shadow: $box-shadow;
	        &:hover{
		       transform: scale(1.1);
	        }
		}
	}
}

.carrito-boton{
	width: 80px;
	background-color:$secondary-color;
	color:$primary-color;
	border:$secondary-color;
	box-shadow: $box-shadow;
	padding: 5px;
	text-decoration: none;
	border-radius: 8px;
	font-size: 17px;
	&:hover{
		transform: scale(1.1);
	}
}

