svg{
    width: 270px;
	padding: 60px 0 30px 0;
	background-color: $primary-color;
}

.hero__content-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 20px 50px 20px;
	background-color: $primary-color;
	gap: 30px;
    .hero__content-h2{
		h2{
            color: $secondary-color;
            font-weight: bold;
            font-size: 30px;
        }
        h4{
            color: $secondary-color;
        }
		p{
			color: $extra-color;
		}
		div{
			padding-bottom: 10px;
            p{
                color: $extra-color;
                font-size: 13px;
				color: $primary-color;
				background-color: $secondary-color;
				border-radius: 20px;
				box-shadow: $box-shadow;
				transform: skew(4deg);
				opacity: 0.6;
			}
        }
		.hero__content-botones{
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 20px;
		}
    }
}


@media (min-width:1024px){
	.logo{
		width: 60px;
		margin-right: 25px;
	}    
	.hero__content-container{
		padding-top: 100px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		column-gap: 100px;
		height: 700px;
		width: 100%;
		.hero__content-h2{
			width: 400px;
			h2{
				font-size: 70px;
			}
			h4{
				font-size: 40px;
			}
			p{
				font-size: 20px;
			}
			div{
				p{
					font-size: 15px;
					color: $primary-color;
					background-color: $secondary-color;
					border-radius: 20px;
					box-shadow: $box-shadow;
					transform: skew(7deg);
					opacity: 0.6;
				}
			}
		}
		#hero__container-buttons-secondary{
			font-size: 20px;
		}
		#hero__container-buttons-primary{
            font-size: 20px;
		}
	}	
	svg{
        width: 400px;
	}
} 


