
main{
    background-color: $primary-color;
}

.hero2{
    .hero2__img{
        width: 100%;      
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h2{
            color: $extra-color;
            font-weight: bold;
            font-size: 25px;
        }
        h3{
            font-size: 35px;
            font-weight: bold;
            color: $secondary-color;
        }
        h4{
            font-size: 30px;
            font-weight: bold;
            color: $secondary-color;
        }
        span{
            color: $extra-color;
            padding: 10px 0 10px 0;
        }
    }
}

.contact__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 70px;
    .contact__img{
        width: 40px;
    }
    .item{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-bottom: 30px;
        gap: 10px;
        &:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
        a{
            text-decoration: none;
        }
        h3{
            color: $secondary-color;
            font-weight: bold;
        }
        p{
            color: $extra-color;
        }
    }
}

@include desktop{
    .hero2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 70px;
        .hero2__img{
            width: 700px;
        }
        .hero2__content{
            h2{
                font-size: 40px;
            }
            h3{
                font-size: 50px;
            }
            h4{
                font-size: 45px;
            }
        }
    }
    .contact__info{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 70px 0 90px;
        .contact__img{
            width: 45px
        }
        .item{
            h3{
                font-size: 25px;
            }
            p{
                font-size: 20px;
            }
        }
    }
    .map{
        padding-top: 100px;
    }
}

@include tablet{
    .hero2{
        display: flex;
        flex-direction: column;
        align-items: center;
        .hero2__img{
            width: 500px;
        }
    }
    .contact__info{
        margin: 50px 0 50px;
        display: grid;
        grid-template-areas: 
        "item-1 item-2"
        "item-3 item-4"
        ;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: space-evenly;
        .item-1{
            grid-area: item-1;
        }
        .item-2{
            grid-area: item-2;
        }
        .item-3{
            grid-area: item-3;
        }
        .item-4{
            grid-area: item-4;
        }
    }
}




