.products-container{
	display: grid;
	grid-template-areas: 
	    "card__1"
	    "card__2"
	    "card__3"
		"card__4"
		"card__5"
		"card__6"
		"card__7"
		"card__8"
		"card__9"
		"card__10"
		"card__11"
		"card__12"
		"card__13"
		"card__14"
		"card__15"
		"card__16"
		"card__17"
		"card__18"
		"card__19"
	;
    grid-template-columns: auto;
	grid-template-rows: repeat(19, auto);
	justify-content: center;
	row-gap: 30px;
	background-color: $tertiary-color;
	padding: 40px 0 40px ;
}

.card-body{
	background-color: $card-color;
	border-radius: 0 0 5px 5px;
	box-shadow: $box-shadow;
    p{
        color: $primary-color;
    }
    a{
        background-color: $secondary-color;
	    border: $secondary-color;
	    box-shadow: $box-shadow;
    }
}

.card__1{
	grid-area: card__1;
}

.card__2{
	grid-area: card__2;
}

.card__3{
	grid-area: card__3;
}

@media (min-width:1024px){
	.products-container{
		padding: 80px 0 80px;
		row-gap: 90px;
		grid-template-areas:
		"card__1 card__2 card__3 card__4"
		"card__5 card__6 card__7 card__8"
		"card__9 card__10 card__11 card__12"
		"card__13 card__14 card__15 card__16"
		"card__17 card__18 card__19 ."
		;
		grid-template-columns: repeat(4, auto);
		grid-template-rows: repeat(3, auto);
		justify-content: space-evenly;
	}
}

@media (min-width:600px) and (max-width:1023px){
	.products-container{
		grid-template-areas: 
		"card__1 card__2"
		"card__3 card__4"
		"card__5 card__6"
		"card__7 card__8"
		"card__9 card__10"
		"card__11 card__12"
		;
		grid-template-columns: auto auto;
		grid-template-rows: repeat(6, auto);
		justify-content: space-evenly;
		row-gap: 50px;
		padding: 60px 0 60px;
	}
}