.hero2__content-container{
    padding: 30px 10px;
    .hero2__img{
        width: 240px;
        position: absolute;
        top: 420px;
        left: 125px;
    }
    .hero2__content{
        display: flex;
        flex-direction: column;
        align-content: center;
	    text-align: left;
	    gap: 30px;
        border: 2px solid $secondary-color;
        border-radius: 30px;
        padding: 20px 20px 10px 20px;
        h2{
            font-size: 40px;
            font-weight: bold;
            color: $secondary-color;
        }
        h4{
            color: $secondary-color;
            font-size: 25px;
        }
        .span{
            padding: 10px 0 10px;
            color: $extra-color;
            font-size: 16px;
            width: 200px;
        }
        span{
            h3{
                font-size: 35px;
                color: $secondary-color;
                margin-bottom: 0;
            }
            p{
                color: $secondary-color;
                font-size: 22px;
                margin: 0 0 0 0;
            }
        }
    }
    .hero2__content-1{
        p{
            color: $extra-color;
            font-size: 16px;
            padding-left: 20px;
            }
    }
    .hero2__content-2{
        padding: 0 0 60px 20px;
        p{
        color: $extra-color;
        font-size: 16px;
        }
    }
    .span{
        padding: 20px 0 0 0;
        color: $extra-color;
        font-size: 16px;
        width: 170px;
        text-align: left;
        padding-left: 20px;
    }
}

@include desktop{
    .hero2__content-container{
        padding: 50px 200px;
        margin: 0 100px;
        .hero2__img{
            width: 650px;
            top: 310px;
            left: 750px;
        }
        .hero2__content{
            gap: 50px;
            border: 2px solid $secondary-color;
            border-radius: 60px;
            padding: 60px 60px 20px 40px;
            h2{
                font-size: 70px;
            }
            h4{
                font-size: 40px;
            }
            .span{
                padding: 20px 0 10px;
                font-size: 20px;
                width: 400px;
            }
            span{
                h3{
                    font-size: 50px;
                }
                p{
                    font-size: 32px;
                }
            }
        }
        .span{
            padding: 40px 0 0 40px;
            font-size: 20px;
            width: 400px;
        }
        .hero2__content-1{
            padding-left: 20px;
            width: 750px;
            p{
                font-size: 20px;
            }
            }
        .hero2__content-2{
            padding-left: 40px;
            p{
                font-size: 20px;
            }
            #hero__container-buttons-primary{
                font-size: 23px;
            }
        }
    }
}

@include tablet{
    .hero2__content-container{
        .hero2__img{
        width: 600px;
        top: 350px;
        left: 180px;
        }
        .hero2__content{
            .span{
                font-size: 18px;
            }
            h2{
                font-size: 50px;
            }
            h4{
                font-size: 30px;
            }
            span{
                h3{
                    font-size: 40px;
                }
                p{
                    font-size: 28px;
                }
            }
        }
        .span{
            font-size: 18px;
        }
        .hero2__content-1{
            p{
                font-size: 18px;
            }
        }
        .hero2__content-2{
            p{
                font-size: 18px;
            }
        }
        #hero__container-buttons-primary{
            font-size: 23px;
        }
    }
}

@media (min-width:991px) and (max-width:1500px){
    .hero2__content-container{
        padding: 50px 100px;
        .hero2__img{
            width: 600px;
            top: 360px;
            left: 610px;
        }
    }
}
